/* Button.css */

.button {
    padding: 12px 20px;
    background-color: #85c99b;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  
  .button:hover {
    background-color: #85c99b;
  }
  