/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* Ajuste a cor de fundo conforme seu design */
    color: #333;
    line-height: 1.6;
  }
  
  /* Estilos para links */
  a {
    color: #4a90e2;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Container principal para centralização */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  :root {
    --greenBrand: #85c99b;
    --black85: #768a98;
  }
  