.login-form {
    
}

.login-form .title-label {
    font-size: 34px;
    font-family: 'Open Sans';
    letter-spacing: 1px;
    color: #030303;
    margin: 0px;
}

.login-form .description-label {
    font-size: 14px;
    letter-spacing: 1px;
    color: #636364;
    margin: 0px;
}