.header-container {
    display: flex;
    border-bottom: 1px solid var(--black85);
    background-color: white;
}

.header-logo {
    margin: 20px 20px 20px 20px;
}

.logo-image {
    max-width: 50px;
    height: auto;
}

.header-title {
    color: var(--black85);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    align-content: center;
    font-style: italic;
    white-space: nowrap;
}
