/* Input.css */

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #768a98;
  }
  
  .input-field:focus {
    border-color: #6ab04c;
    outline: none;
    box-shadow: 0 0 5px rgba(106, 176, 76, 0.5);
  }
  