/* Login.css */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
  min-width: 400px;
  max-width: 400px;
  min-height: 480px;
  border: 1px solid lightgray;
}

.login-title {
  text-align: center;
  font-size: 24px;
  color: var(--greenBrand);
  font-weight: 900;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.login-subtitle {
  text-align: center;
  color: #768a98;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.login-subtitle a {
  color: #768a98;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.login-subtitle a:hover {
  text-decoration: underline;
}

.forgot-password {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #768a98;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  text-underline-offset: 4px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}