.app-container {
  display: flex;
  flex-direction: column; /* Organiza o conteúdo em coluna */
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; /* Mantém o header sobre outros elementos */
}

.login-wrapper {
  display: flex;
  justify-content: center; /* Centraliza o formulário horizontalmente */
  align-items: center;
  flex: 1; /* Faz o login ocupar o espaço restante da tela */
  margin-top: 143px;
  margin-bottom: 143px;
  overflow: hidden;
}
